@font-face {
    font-family: Sitka; /* Имя шрифта */
    src: url(fonts/Sitka-Regular.otf); /* Путь к файлу со шрифтом */
   }

body{

   margin:0;
   /* background-image: url(images/back.jpg); */
   background-size: cover;
}
h1{
    font-family: Sitka;
    padding-left: 50%;
    color:#4bb04f;
    font-size: 30px;
}

/* audio */
audio::-webkit-media-controls-play-button{
     
     opacity:0.5;
}

.track-list{
    width: 45%;
    float: left;
    min-height: 100vh;
}
.container{
    width: 45%;
    float: left;
    min-height: 100vh;
}